.main-content {
    min-height: 13rem;
    position: initial;
    max-width: 1000px;
    margin: 0 auto;
    background: var(--background-color-second);
    padding: 3rem 1rem 0 1rem;
    position: relative;
    z-index: 2;
}


.main-content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.main-content p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}
.main-content p:last-child {
    margin-bottom: 0;
}

.main-content h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.main-content br {
    margin-bottom: 1rem;
}

/* Media Queries for Responsiveness */

/* For smaller devices, adjust font size and padding */
@media only screen and (max-width: 768px) {
    .main-content {
        padding-top: 2rem;
    }

    .main-content h1 {
        font-size: 1.8rem;
        margin-bottom: 0.8rem;
    }

    .main-content p {
        font-size: 0.9rem;
        line-height: 1.5;
        margin-bottom: 0.8rem;
    }

    .main-content h2 {
        font-size: 1.3rem;
        margin-bottom: 0.8rem;
    }

    .main-content br {
        margin-bottom: 0.8rem;
    }
}

/* For even smaller devices, adjust font size and padding further */
@media only screen and (max-width: 480px) {
    .main-content {
        padding-top: 1rem;
    }

    .main-content h1 {
        font-size: 1.6rem;
        margin-bottom: 0.6rem;
    }

    .main-content p {
        font-size: 0.8rem;
        line-height: 1.4;
        margin-bottom: 0.6rem;
    }

    .main-content h2 {
        font-size: 1.2rem;
        margin-bottom: 0.6rem;
    }

    .main-content br {
        margin-bottom: 0.6rem;
    }
}
