#snippetEditor-container {
    height: 20rem;
    position: inherit;
    width: 100%;
    iframe {
        width: 97%;
        height: 16rem;
        margin: 0 auto;
    }
    textarea {
        white-space: pre;
        overflow-x: scroll;
    }
}
#snippetEditor-buttons {
    background-color: var(--background-color-dark);
    padding: 10px;
    align-items: center;
}
#snippetEditor-buttons button {
    margin: 5px;
}
#result-container {
    border: none;
    width: 99%;
    height: 100%;
}
.snippetEditor {
    display: none;
    width: 97%;
    height: 16rem;
    margin: 0 auto;
}
