/* Common styles */
footer {
  background: var(--background-color-second);
  position: relative;
  z-index: 2;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-section {
  flex-basis: 25%;
  padding: 10px;
}

.footer-section h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-bottom p {
  font-size: 14px;
}

.footer-bottom p:before {
  display: inline-block;
  margin-right: 5px;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .footer-section {
    flex-basis: 50%;
  }
}
@media screen and (max-width: 480px) {
  .footer-section {
    flex-basis: 100%;
  }
}
