/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/
[id="night"]:checked ~ div .hljs {
  background: #23241f;
  color: #f8f8f2;
  display: block; }

[id="night"]:checked ~ div .hljs-tag,
[id="night"]:checked ~ div .hljs-subst {
  color: #f8f8f2; }

[id="night"]:checked ~ div .hljs-strong,
[id="night"]:checked ~ div .hljs-emphasis {
  color: #a8a8a2; }

[id="night"]:checked ~ div .hljs-bullet,
[id="night"]:checked ~ div .hljs-quote,
[id="night"]:checked ~ div .hljs-number,
[id="night"]:checked ~ div .hljs-regexp,
[id="night"]:checked ~ div .hljs-literal,
[id="night"]:checked ~ div .hljs-link {
  color: #ae81ff; }

[id="night"]:checked ~ div .hljs-code,
[id="night"]:checked ~ div .hljs-title,
[id="night"]:checked ~ div .hljs-section,
[id="night"]:checked ~ div .hljs-selector-class {
  color: #a6e22e; }

[id="night"]:checked ~ div .hljs-strong {
  font-weight: bold; }

[id="night"]:checked ~ div .hljs-emphasis {
  font-style: italic; }

[id="night"]:checked ~ div .hljs-keyword,
[id="night"]:checked ~ div .hljs-selector-tag,
[id="night"]:checked ~ div .hljs-name,
[id="night"]:checked ~ div .hljs-attr {
  color: #f92672; }

[id="night"]:checked ~ div .hljs-symbol,
[id="night"]:checked ~ div .hljs-attribute {
  color: #66d9ef; }

[id="night"]:checked ~ div .hljs-params,
[id="night"]:checked ~ div .hljs-title.class_,
[id="night"]:checked ~ div .hljs-class .hljs-title {
  color: #f8f8f2; }

[id="night"]:checked ~ div .hljs-string,
[id="night"]:checked ~ div .hljs-type,
[id="night"]:checked ~ div .hljs-built_in,
[id="night"]:checked ~ div .hljs-selector-id,
[id="night"]:checked ~ div .hljs-selector-attr,
[id="night"]:checked ~ div .hljs-selector-pseudo,
[id="night"]:checked ~ div .hljs-addition,
[id="night"]:checked ~ div .hljs-variable,
[id="night"]:checked ~ div .hljs-template-variable {
  color: #e6db74; }

[id="night"]:checked ~ div .hljs-comment,
[id="night"]:checked ~ div .hljs-deletion,
[id="night"]:checked ~ div .hljs-meta {
  color: #75715e; }

/*!
  Theme: Tomorrow
  Author: Chris Kempson (http://chriskempson.com)
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/
[id="day"]:checked ~ div pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em; }

[id="day"]:checked ~ div code.hljs {
  padding: 3px 5px; }

[id="day"]:checked ~ div .hljs {
  color: #4d4d4c;
  background: #fff; }

[id="day"]:checked ~ div .hljs ::selection, [id="day"]:checked ~ div .hljs::selection {
  background-color: #d6d6d6;
  color: #4d4d4c; }

[id="day"]:checked ~ div .hljs-comment {
  color: #8e908c; }

[id="day"]:checked ~ div .hljs-tag {
  color: #969896; }

[id="day"]:checked ~ div .hljs-operator, [id="day"]:checked ~ div .hljs-punctuation, [id="day"]:checked ~ div .hljs-subst {
  color: #4d4d4c; }

[id="day"]:checked ~ div .hljs-operator {
  opacity: .7; }

[id="day"]:checked ~ div .hljs-bullet, [id="day"]:checked ~ div .hljs-deletion, [id="day"]:checked ~ div .hljs-name, [id="day"]:checked ~ div .hljs-selector-tag, [id="day"]:checked ~ div .hljs-template-variable, [id="day"]:checked ~ div .hljs-variable {
  color: #c82829; }

[id="day"]:checked ~ div .hljs-attr, [id="day"]:checked ~ div .hljs-link, [id="day"]:checked ~ div .hljs-literal, [id="day"]:checked ~ div .hljs-number, [id="day"]:checked ~ div .hljs-symbol, [id="day"]:checked ~ div .hljs-variable.constant_ {
  color: #f5871f; }

[id="day"]:checked ~ div .hljs-class .hljs-title, [id="day"]:checked ~ div .hljs-title, [id="day"]:checked ~ div .hljs-title.class_ {
  color: #eab700; }

[id="day"]:checked ~ div .hljs-strong {
  font-weight: 700;
  color: #eab700; }

[id="day"]:checked ~ div .hljs-addition, [id="day"]:checked ~ div .hljs-code, [id="day"]:checked ~ div .hljs-string, [id="day"]:checked ~ div .hljs-title.class_.inherited__ {
  color: #718c00; }

[id="day"]:checked ~ div .hljs-built_in, [id="day"]:checked ~ div .hljs-doctag, [id="day"]:checked ~ div .hljs-keyword.hljs-atrule, [id="day"]:checked ~ div .hljs-quote, [id="day"]:checked ~ div .hljs-regexp {
  color: #3e999f; }

[id="day"]:checked ~ div .hljs-attribute, [id="day"]:checked ~ div .hljs-function .hljs-title, [id="day"]:checked ~ div .hljs-section, [id="day"]:checked ~ div .hljs-title.function_, [id="day"]:checked ~ div .ruby .hljs-property {
  color: #4271ae; }

[id="day"]:checked ~ div .diff .hljs-meta, [id="day"]:checked ~ div .hljs-keyword, [id="day"]:checked ~ div .hljs-template-tag, [id="day"]:checked ~ div .hljs-type {
  color: #8959a8; }

[id="day"]:checked ~ div .hljs-emphasis {
  color: #8959a8;
  font-style: italic; }

[id="day"]:checked ~ div .hljs-meta, [id="day"]:checked ~ div .hljs-meta .hljs-keyword, [id="day"]:checked ~ div .hljs-meta .hljs-string {
  color: #a3685a; }

[id="day"]:checked ~ div .hljs-meta .hljs-keyword, [id="day"]:checked ~ div .hljs-meta-keyword {
  font-weight: 700; }
