.anchor-image {
  display: none;
  cursor: pointer; }

h2:hover .anchor-image {
  display: inline; }

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto; }

.post {
  background: var(--background-color-second);
  z-index: 2;
  padding: 0 1rem;
  max-width: 800px;
  position: relative; }
  .post h2 {
    display: inline; }
  .post-container {
    width: 67%;
    display: flex;
    flex-flow: row-reverse; }

.banner-image {
  width: 100%;
  /* Adjust the width as needed */
  height: auto;
  /* Maintain the aspect ratio */
  display: block;
  /* Ensures the image is a block element */
  margin: 0 auto;
  /* Centers the image horizontally */
  max-height: 40rem; }

.sidebar {
  width: 30%;
  margin-top: 5px; }

.about-post {
  background: var(--background-color-second);
  padding: 10px;
  margin-bottom: 20px;
  z-index: 3;
  position: relative; }
  .about-post h3 {
    padding: 0 1rem; }

hr {
  color: var(--background-color-second); }

.headers {
  padding: 10px;
  margin-bottom: 20px;
  position: sticky;
  top: 5px; }
  .headers #toc {
    border: 1px solid var(--background-color-second); }
    .headers #toc h3 {
      padding: 0 1rem; }
    .headers #toc nav {
      max-height: 165px;
      overflow: auto;
      background-color: var(--background-color);
      padding: 10px;
      margin-bottom: 20px; }
      .headers #toc nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 1rem; }
      .headers #toc nav li {
        margin: 2px 0; }
      .headers #toc nav::-webkit-scrollbar {
        width: 8px; }
      .headers #toc nav::-webkit-scrollbar-track {
        background-color: var(--background-color-second); }
      .headers #toc nav::-webkit-scrollbar-thumb {
        background-color: var(--background-color-second);
        border-radius: 4px; }
      .headers #toc nav::-webkit-scrollbar-thumb:hover {
        background-color: var(--background-color-second); }

.nav-link {
  display: block;
  color: var(--font-color);
  text-decoration: none; }
  .nav-link.active {
    font-weight: bold;
    padding: 2px 0 2px 8px;
    background: var(--background-color-second); }
  .nav-link:visited {
    color: var(--font-color); }

.affiliate {
  padding: 10px;
  margin-bottom: 20px;
  position: sticky; }

.emoji_active_memo {
  display: none; }

/* Style for the share button */
#share-btn {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  user-select: none;
  writing-mode: vertical-rl;
  font-size: 1rem; }

.share_post_text {
  display: none; }

/* Hide the checkbox */
#share-toggle {
  display: none; }

@media screen and (max-width: 1310px) {
  #share-links {
    left: 0 !important;
    width: 5rem; } }

@media screen and (max-width: 768px) {
  .main-content {
    flex-direction: column;
    z-index: 2;
    position: relative; }
  [id="sidebar_checkbox"]:checked ~ div .share-links, [id="sidebar_checkbox"]:checked ~ div .headers, [id="sidebar_checkbox"]:checked ~ div .color-pallete, [id="sidebar_checkbox"]:checked ~ div .emoji_active_memo, [id="sidebar_checkbox"]:checked ~ div #search_area {
    display: block; }
  [id="sidebar_checkbox"]:checked ~ div .post, [id="sidebar_checkbox"]:checked ~ div .sidebar_button img, [id="sidebar_checkbox"]:checked ~ div .home-link {
    display: none; }
  [id="sidebar_checkbox"]:checked ~ div #search_area {
    position: absolute; }
  .post {
    padding: 0; }
    .post-container {
      width: 100%;
      display: flex;
      flex-flow: column-reverse; }
  .sidebar {
    width: 100%;
    display: flex;
    flex-direction: column-reverse; }
  #share-links {
    transform: none !important;
    width: 15rem;
    left: 0.5rem !important; }
  #share-toggle:checked ~ #share-links {
    display: flex !important;
    top: -4px; }
    #share-toggle:checked ~ #share-links li {
      position: relative;
      font-size: 1.2rem;
      writing-mode: vertical-lr;
      margin: 0.25rem 0 0.25rem 0.5rem; }
  .headers {
    position: relative;
    top: 3.5rem; }
  .color-pallete {
    display: none; }
  .share_post_text {
    display: block; }
  #share-btn {
    writing-mode: unset;
    display: flex;
    width: fit-content;
    font-size: 1.2rem;
    position: absolute;
    top: 1rem;
    left: 1rem; } }

@media screen and (max-width: 365px) {
  #share-toggle:checked ~ #share-links {
    left: 1.8rem; }
    #share-toggle:checked ~ #share-links li {
      margin-left: -50px; } }

/* Style for the share links container */
#share-links {
  display: none;
  position: absolute;
  margin-top: 8px;
  top: 55px;
  left: -60px;
  background-color: var(--background-color-dark);
  border: 1px solid var(--font-color-second);
  padding: 10px;
  z-index: 3;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: skewY(15deg); }
  #share-links li {
    display: block;
    margin-bottom: 4px;
    background-color: var(--background-color-dark);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out; }
    #share-links li:hover {
      background-color: var(--background-color-second); }
    #share-links li a {
      width: 100%;
      display: inline-block; }

.share-links {
  z-index: 3;
  margin-top: 5px; }
  .share-links > div {
    position: sticky;
    top: 5px;
    width: 2.5rem; }

/* Show the share links when the checkbox is checked */
#share-toggle:checked ~ #share-links {
  display: block; }

/* Hide the share links when the checkbox is not checked */
#share-toggle:not(:checked) ~ #share-links {
  display: none; }

.special_quote {
  background-color: var(--background-color-dark);
  color: #e14f62;
  border-radius: .3rem;
  white-space: pre-wrap; }

.content pre {
  height: 100%; }
  .content pre code {
    height: 100%;
    padding: 0; }

code {
  overflow: scroll; }

table {
  color: var(--font-color);
  background: var(--opposite-font-color); }
  table thead tr th {
    font-size: 1.3rem;
    text-decoration: underline;
    background: var(--background-color-dark); }
  table th {
    border: 1px solid;
    padding: 0.5rem; }
