body {
    --primary: #5CFFF4;
    --primary-clicked: #51E9DF;
    --font-color: rgba(230,230,230, 0.95);
    --font-color-darker: rgba(195,195,195, 0.95);
    --opposite-font-color: rgba(75,75,75, 0.7);
    --font-color-second: white;
    --background-color-dark: rgba(10,10,10, 0.7);
    --background-color-second: rgba(48,48,48, 0.7); 
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  
  
  .btn-cta {
    background: var(--opposite-font-color);
    color: var(--primary);
    text-decoration: none;
    border: 2px solid var(--font-color);
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem; }
  
  .btn-cta:hover {
    background-color: var(--background-color-second);
    color: var(--primary-clicked); }

  .tagVar .btn-cta {
    padding: 3px; }
  
#snippetEditor-container {
    height: 100vh !important;
    background-color: var(--background-color-dark);
}

#snippetEditor-container iframe {
    width: 99% !important;
    height: 88vh !important;
}

textarea, iframe {
    height: 80vh !important;
}