.tabs {
  position: relative;
  min-height: 200px;
  clear: both;
  margin: 25px 0; }
  .tabs .tab label {
    z-index: 1; }

.tab {
  float: left; }

.tab label {
  background: var(--background-color-dark);
  padding: 10px;
  border: 1px solid var(--background-color-dark);
  margin-left: -1px;
  position: relative;
  left: 1px;
  color: var(--primary); }
  .tab label:hover {
    cursor: pointer; }

.tab [type="radio"] {
  opacity: 0; }

.content {
  position: absolute;
  top: 28px;
  left: 0;
  right: 0;
  bottom: 0;
  display: block; }

.content > * {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.6s ease; }

[type="radio"]:checked ~ label {
  background: var(--opposite-font-color);
  color: var(--font-color); }
  [type="radio"]:checked ~ label:hover {
    cursor: default; }

[type="radio"]:checked ~ label ~ .content {
  z-index: 2; }

[type="radio"]:checked ~ label ~ .content > * {
  opacity: 1;
  transform: translateX(0); }
